* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.spinner {
    animation: blinking 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spinner-text {
    font-size: 16px;
    font-family: monospace;
    text-transform: uppercase;
}

.rect {
    position: relative;
    width: 10px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    animation: moving 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}