.article {
    padding: 8px;
    margin: 16px;
    background-color: bisque;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}

header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}