div {
    overflow-x: auto;
}

caption {
    margin-bottom: 8px;
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

table {
    margin: 32px;
    width: 500px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 4px;
    text-align: right;
    line-height: 40px;
}

th {
    background-color: aqua;
}

tr:hover {
    color: white;
    background-color: #aaa;
}

tfoot {
    font-weight: 700;
}

body>tr:nth-child(even) {
    background-color: #f2f2f2;
}