* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #555;
}

img {
    max-width: 100%;
}

.header {
    background-image: linear-gradient(60deg, red, orange);
    color: white;
    text-align: center;
    vertical-align: middle;
}

.main {
    display: flex;
    height: 100vh;
}

.navigation {
    width: 20%;
    padding: 0.5em;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-list-item {
    display: flex;
    align-items: center;
    background-color: #808080;
    color: white;
    height: 2em;
    margin-bottom: 0.5em;
}

.nav-list-link {
    padding: 0.5em;
    text-decoration: none;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.units-list {
    line-height: 1.75em;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-weight: 700;
    font-size: 112.5%;
}

.section {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0.5em;
    font-size: 1.25em;
}

.section__header {
    text-align: center;
    font-size: 5vw;
}

.section p {
    margin-block-end: 0;
    margin-block-start: 0;
}

.news {
    width: 20%;
    padding: 0.5em;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    background-color: #e5e5e5;
}